/* app/globals.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  color:white;
  background-image: url(../public/bg.jpeg);
  background-size: cover;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  align-items: center;
}
.navigation{
  width: 100%;
  height: 50px;
  background-color: #5E1914;
  text-decoration: none;
  color:white;
  text-align: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 10px;
  justify-self: space-between;

}
.about{
  height: 400px;
  width:900px ;
  top: 40px;
  left: 450px;
  align-self: center;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color:#5E1914;
  border-radius: 15px;


}
.about h1, p{
  position: relative;
  display: flex;
  flex-direction: column;

}
  
